.nav {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom-color: solid black 1px;
    background-color: white;
    border-bottom: 1px solid gray;
    padding: 0px;
    margin: 0px;
}

.logo {
    color: #FF5A5F;
    font-family: 'Open Sans', sans-serif;
}

.search {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    right: 50spx;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    right: 0px;
}

.host {
    padding:0px;
}